<div class="w-[90%] mx-auto max-w-[1024px] my-5" *ngIf="restaurant">
  <default-back></default-back>
  <div class="flex justify-center">
    <strong class="text-3xl mt-4 text">{{ restaurant.name }}</strong>
  </div>

  <div class="flex items-center mt-10 flex-wrap">
    <div class="w-full md:w-1/3 flex justify-center">
      <img
        [src]="restaurant.logo"
        alt="restaurant logo"
        class="rounded-full max-w-40"
      />
    </div>
    <div
      class="border-b-[1px] md:border-b-[0px] px-4 w-full md:w-1/3 md:border-x-[1px] my-3"
    >
      <h3>Endereço</h3>
      <p class="flex gap-1 items-center text-gray-600">
        {{ restaurant.address.street }}, {{ restaurant.address.number }} -
        {{ restaurant.address.neighborhood }}
        <br />
        {{ restaurant.address.city }} - {{ restaurant.address.state }}
      </p>
      <p class="flex gap-1 items-center text-gray-600">
        CEP:{{ restaurant.address.cep | mask : "00000-000" }}
      </p>
    </div>

    <div class="px-4 w-full md:w-1/3 border-b-[1px] md:border-b-[0px] my-3">
      <h3>Outras informações</h3>
      <p class="flex gap-1 items-center text-gray-600">
        <img src="../../../../../assets/images/icons/call.svg" alt="telefone" />
        {{ restaurant.phone | mask : "(00) 0 0000-0000" }}
      </p>
      <p class="flex gap-1 items-center text-gray-600">
        <img src="../../../../../assets/images/icons/draft.svg" alt="cnpj" />{{
          restaurant.cnpj | mask : "00.000.000/0000-00"
        }}
      </p>
    </div>
  </div>
  <div class="mt-5">
    <mat-tab-group>
      <mat-tab
        *ngFor="let category of categories"
        [label]="category.category.name"
      >
        <div class="flex flex-wrap gap-3 max-w-[1024px] p-6">
          <ng-container *ngIf="category.foods.length; else noFoodTemplate">
            <ng-container *ngFor="let food of category.foods">
              <app-food-card
                [food]="food"
                (click)="viewFood(food)"
                class="flex-grow w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 "
              ></app-food-card>
            </ng-container>
          </ng-container>
          <ng-template #noFoodTemplate>
            <p class="text-center w-full p-7">Nenhum prato encontrado.</p>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
