<section class="relative flex flex-wrap lg:h-screen lg:items-center">
  <div class="w-full z-10">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold">Crie o seu restaurante</h1>

        <p class="mt-4 text-gray-500">É fácil e rápido!</p>
      </div>

      <form
        action=""
        class="mx-auto mb-0 mt-8 max-w-xl space-y-4"
        [formGroup]="form"
      >
        <div>
          <mat-form-field>
            <mat-label>Nome do restaurante</mat-label>
            <input
              matInput
              placeholder="Digite o nome do seu restaurante"
              formControlName="name"
            />
            <mat-error *ngIf="form.controls.name.hasError('required')"
              >Por favor, digite nome do seu restaurante</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <div>Envie sua logo*</div>
          <div class="text-center">
            <label for="fileInput">
              <input
                id="fileInput"
                type="file"
                (change)="onFileSelected($event)"
                class="hidden"
                accept="image/*"
              />
              <img
                *ngIf="imageUrl"
                [src]="imageUrl"
                alt="Uploaded Image"
                class="mt-4 max-w-full rounded shadow-md"
              />
              <span
                *ngIf="!imageUrl"
                class="block w-100 bg-gray-50 border-dotted border-2 border-gray-500 p-4"
                >teste</span
              >
            </label>
          </div>
        </div>

        <div>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
              matInput
              placeholder="Digite seu e-mail"
              formControlName="email"
            />
            <mat-error *ngIf="form.controls.email.hasError('required')"
              >Por favor, digite o seu e-mail</mat-error
            >
            <mat-error *ngIf="form.controls.email.hasError('email')"
              >Por favor, digite um e-mail válido</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>CNPJ</mat-label>
            <input
              matInput
              placeholder="Digite seu CNPJ"
              formControlName="cnpj"
              mask="00.000.000/0000-00"
            />
            <mat-error *ngIf="form.controls.cnpj.hasError('required')"
              >Por favor, digite o seu CNPJ</mat-error
            >
            <mat-error *ngIf="form.controls.cnpj.hasError('cpfCnpj')"
              >Por favor, digite um CNPJ válido</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Celular</mat-label>
            <input
              matInput
              placeholder="Digite seu celular"
              formControlName="phone"
              mask="(00) 0 0000-0000"
            />
            <mat-error *ngIf="form.controls.phone.hasError('required')"
              >Por favor, digite o seu celular</mat-error
            >
            <mat-error *ngIf="form.controls.phone.hasError('minlength')"
              >Por favor, digite um celular válido</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input
              matInput
              type="password"
              placeholder="Digite sua senha"
              formControlName="password"
              (ngModelChange)="validatePasswordMatch()"
            />
            <mat-error *ngIf="form.controls.password.hasError('required')"
              >Por favor, digite a sua senha</mat-error
            >
            <mat-error *ngIf="form.controls.password.hasError('minlength')"
              >A senha deve ter no mínimo 6 caracteres</mat-error
            >
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Confirme a sua senha</mat-label>
            <input
              matInput
              type="password"
              placeholder="Confirme a sua senha"
              formControlName="confirmPassword"
              (ngModelChange)="validatePasswordMatch()"
            />
            <mat-error
              *ngIf="form.controls.confirmPassword.hasError('required')"
              >Por favor, digite a confirmação da sua senha</mat-error
            >
            <mat-error
              *ngIf="form.controls.confirmPassword.hasError('passwordMatch')"
              >As senhas não são iguais</mat-error
            >
          </mat-form-field>
        </div>

        <div formGroupName="address">
          <div class="col-6">
            <mat-form-field class="mb-2">
              <mat-label>CEP</mat-label>
              <input
                matInput
                formControlName="cep"
                mask="00000-000"
                (input)="getCep(form.controls.address.controls.cep.value!)"
              />
              <mat-error
                *ngIf="form.controls.address.controls.cep.hasError('required')"
                >Por favor, digite o seu CEP</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls.address.controls.cep.hasError('minlength') ||
                  form.controls.address.controls.cep.hasError('invalidCep')
                "
                >Por favor, digite um CEP válido</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="mb-2">
              <mat-label>Número</mat-label>
              <input
                matInput
                formControlName="number"
                maxlength="5"
                mask="99999"
                (input)="setAddressString()"
              />
              <mat-error
                *ngIf="
                  form.get('location')?.get('number')?.hasError('required')
                "
                >Campo obrigatório</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-12 text--little" *ngIf="address">{{ address }}</div>
        </div>

        <div class="pt-5">
          <default-button
            value="Criar"
            (clickEvent)="createAccount()"
          ></default-button>
        </div>
        <div>
          <p class="text-sm text-gray-500 text-center">
            Já possui uma conta?
            <a class="underline" routerLink="/">Entre</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
