<div class="w-[90%] mx-auto max-w-[1024px] my-5">
  <h1 class="text-6xl font-bold">
    Olá <strong class="capitalize">{{ client.name.split(" ")[0] }}</strong>
  </h1>

  <div class="my-4">
    <default-search-input (searchEvent)="search($event)"></default-search-input>
  </div>

  <div>
    <mat-tab-group>
      <mat-tab label="Restaurantes">
        <div class="flex flex-wrap gap-3 max-w-[1024px] pt-4 p-3">
          <ng-container *ngIf="restaurants$ | async as restaurants">
            <ng-container *ngIf="restaurants.length; else noRestaurantTemplate">
              <app-restaurant-card
                *ngFor="let restaurant of restaurants"
                [restaurant]="restaurant"
                (click)="viewRestaurant(restaurant._id)"
              ></app-restaurant-card>
            </ng-container>
          </ng-container>
          <ng-template #noRestaurantTemplate>
            <p class="text-center w-full p-7">Nenhum restaurante encontrado.</p>
          </ng-template>
        </div>
      </mat-tab>
      <mat-tab label="Itens">
        <div class="flex flex-wrap gap-3 max-w-[1024px] pt-4 p-3">
          <ng-container *ngIf="foods$ | async as foods">
            <ng-container *ngIf="foods.length; else noFoodTemplate">
              <ng-container *ngFor="let food of foods">
                <app-food-card
                  [food]="food"
                  (click)="viewFood(food)"
                  class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
                ></app-food-card>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #noFoodTemplate>
            <p class="text-center w-full p-7">Nenhum item encontrado.</p>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
