<header
  class="w-full p-4 bg-gray-50 border-b shadow-sm bg-primary"
  *ngIf="!routesToHidden.includes(url)"
>
  <div class="w-[90%] mx-auto max-w-[1024px] flex justify-between items-center">
    <div>
      <img
        class="w-20"
        src="../../../../assets/images/logo/kifominha-logo.png"
        alt="kifominha-logo"
      />
    </div>
    <div>
      <div *ngIf="hasLogged">
        <button mat-button [matMenuTriggerFor]="menu">
          <img
            class="h-9"
            src="../../../../assets/images/icons/account_circle.svg"
            alt="menu"
          />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logOut()">
            <div class="w-full flex justify-between items-center">
              <img
                src="../../../../assets/images/icons/logout.svg"
                alt="logout"
              />
              <span>Sair</span>
            </div>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
