<footer
  class="w-full"
  aria-labelledby="footer-heading"
  *ngIf="!routesToHidden.includes(url)"
>
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-16">
    <div class="flex flex-col items-baseline space-y-6">
      <div class="mx-auto">
        <span class="mx-auto mt-2 text-sm text-gray-500">
          Copyright ©
          <a
            href="https://github.com/IFafaa"
            class="mx-2 text-blue-500 hover:text-gray-500"
            rel="noopener noreferrer"
            >fabriciotrab2005@gmail.com</a
          >Since 2024
        </span>
      </div>
    </div>
  </div>
</footer>
